<template>
  <div id="history" class="container max-width-1200px">
    <h1>
      This is the history page
    </h1>
  </div>
</template>

<script lang="ts">
import { defineComponent } from "vue";

export default defineComponent({
  name: "History",
});
</script>

<style scoped>
.max-width-1200px {
  max-width: 1200px;
}
</style>
